.submit-button {
  background-color: $moderate-blue;
  color: $white;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  height: 50px;
  width: 110px;
  font-family: "Rubik", sans-serif;
  &:hover,
  &:focus {
    background-color: $light-grayish-blue;
  }
}
